<mtapp:setting id="zenback_key" label="Zenbackキー" hint="Zenback キーは、登録時に発行されるものをお使いください。<br />このブログ（<mt:GetVar name="blog_name">）の、<a href='<mt:GetVar name="zenback_url">'>Zenback キーを取得する</a>。" show_hint="1">
  <input type="text" name="zenback_key" id="zenback_key" value="<mt:GetVar name="zenback_key">" />
</mtapp:setting>
